name: Convert experiment_table.xlsx

# when a commit includes a experiment_table.xlsx file
on:
  push:
    paths:
      - 'babs/docs/experiment_table.xlsx'
  workflow_dispatch:

# set up environment variables
env:
  INPUT_FILE: 'babs/docs/experiment_table.xlsx'
  OUTPUT_FILE: 'babs/docs/experiment_table.csv'
  OUTPUT_FORMAT: 'csv'

# define the work to be done
jobs:
  convert-experiment-table:
    runs-on: ubuntu-latest
    container:
      image: christopherbarrington/xlsx2csv:2022.10.01
  
    steps:
      - name: checkout the repo
        uses: actions/checkout@v3
      - name: check experiment table exists
        uses: andstor/file-existence-action@v1
        id: target_file_exists
        with:
          files: ${{ env.INPUT_FILE }}
      - name: run xlsx2csv
        if: steps.target_file_exists.outputs.files_exists == 'true'
        run: xlsx2csv ${{ env.INPUT_FILE }} ${{ env.OUTPUT_FILE }}
      - name: commit converted experiment table
        if: steps.target_file_exists.outputs.files_exists == 'true'
        run: |
          git branch --all
          git remote --verbose
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add --all
          git commit -m "babs-o-matic converted experiment_table.xlsx"
          git push origin HEAD:main
